
*.BAK
*.txt
*.doc
*.png
*.OPJ
*.xlsx
*.zip
*.sav
*.bmp
*.fig
*.dat
*.pdf
*.docx
*.isv
*.pptx
*.ppt
*.prj
*.ps
Lidar/Rayleigh_data/ThorpScale,bmp
*.he5
*.db
*.lnk
*.tif
outputs
*.BAS
test/ramdonPhase.jpg',tvrd()
*.jpg
wavelet_Lombscargle/WV_0101,png
